<div class="container-fluid bg-cover" style="background-image: url(img/bg/fw-bg.png)">
    <div class="bg-white-alpha p-b-30">
        <div class="jumbotron bg-transparent text-center c-gray m-b-0">
            <h1 class="font-heavy">Sandor Agafonoff: <small class="font-heavy c-gray">That Software Guy</small></h1>
            <p class="font-normal">The concept of optimal is relative. What is optimal today, might not be optimal tomorrow. That means one day, we will all be optimal.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-b-15">
                    <div class="card">
                        <div class="card-header bg-primary c-white border-radius-default">Statistics</div>
                        <div class="card-body m-t-5 border-radius-default">
                            <ul class="list-unstyled">
                                <li>Overall Experience: <span class="font-medium">20+ years</span></li>
                                <li>Professional Experience: <span class="font-medium">10 years</span></li>
                                <li>Positions Held: <span class="font-medium">6</span></li>
                                <li>Longest Position Held: <span class="font-medium">5+ years</span></li>
                                <li>Longest Time Out: <span class="font-medium">3 months</span></li>
                                <li>Favourite Employer (so far): <span class="font-medium">Unisys</span></li>
                                <li>Languages Used: <span class="font-medium">10+</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-b-15">
                    <div class="card">
                        <div class="card-header bg-secondary c-white border-radius-default">Education</div>
                        <div class="card-body m-t-5 border-radius-default">
                            <div>
                                1999<br />Macquarie College, NSW, Australia<br />Completed HSC
                            </div>
                            <div class="m-t-15">
                                2003 – 2006<br />University of Newcastle, NSW, Australia<br />B. Information Science (Software Development)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="card-header bg-accent c-white border-radius-default">Technology</div>
                        <div class="card-body m-t-5 border-radius-default">
                            <div>
                                Current Dev Language (12 months exclusively)<br />
                                <span ng-class="{'font-medium': highlight.js}">JavaScript (Full Stack)<br />
                                MEAN(MongoDB, ExpressJS, AngularJS, NodeJS)<br /></span>
                                Learning: <span class="font-medium">TypeScript + AngularJS 2</span>
                            </div>
                            <div class="m-t-15">
                                Last Dev Language<br />
                                <span class="font-medium">PHP (LAMP Stack)<br />
                                    LAMP(Linux, Apache, MySQL, PHP)<br /></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center bg-gray c-white p-v-15">
    <h2 class="font-bold">My Objective</h2>
    <p class="fs-18">To find a position in software development which allows me to be creative, have input, and either oversee or be a part of the end to end delivery process.</p>
</div>

<div class="bg-lightgray p-v-15">
    <div class="container">
        <h2 class="font-bold text-center">Work Experience</h2>
        <div class="text-center inline-children">
            <div class="m-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="highlight.js"> JavaScript
                    </label>
                </div>
            </div>
            <div class="m-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="highlight.front"> Front End
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="p-h-15">Eleven11 Solutions</h4>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Details</h5>
                    <div class="">When: <span class="font-medium">2011 - Today</span></div>
                    <div class="">Role: <span class="font-medium">Owner / Freelancer</span></div>
                    <div class="">Type: <span class="font-medium">Self Employed</span></div>
                    <div class="">Length Of Employment: <span class="font-medium">5+ years</span></div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Technology Exposure</h5>
                    <p>In this role I have found it necessary to work with a variety of technology platforms. This
                    is due to client infrastructure and costs that can sometimes dictate the technology stack for the software.</p>
                    <ul>
                        <li><span ng-class="{'font-medium': highlight.js}">JavaScript MEAN(MongoDB, ExpressJS, AngularJS, NodeJS)</span></li>
                        <li>LAMP(Linux, Apache, MySQL, PHP)</li>
                        <li>Java (J2EE/J2SE, MySQL, Tomcat)</li>
                        <li>Cloud based deployment (AWS, Google Compute)</li>
                        <li><span ng-class="{'font-medium': highlight.front}">HTML/CSS3/LESS/<span ng-class="{'font-medium': highlight.js}">VanillaJS</span></span></li>
                        <li>npm, bower, Grunt</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Projects</h5>
                    <p>I undertook many projects, all were end to end, analysis through to deployment.</p>
                    <ul>
                        <li>Job management <span ng-class="{'font-medium': highlight.js}">javascript (MEAN) application</span> for the construction industry</li>
                        <li>Business Workflow/process improvement <span ng-class="{'font-medium': highlight.js}">javascript (MEAN) applicaton</span></li>
                        <li>Internal booking system + Public API for public bookings via custom website <span ng-class="{'font-medium': highlight.js}">(MEAN Stack)</span></li>
                        <li>Website conversions to <span ng-class="{'font-medium': highlight.js || highlight.front}">AngularJS + Boootstrap apps</span></li>
                        <li>LAMP based websites and application</li>
                        <li>Java touch screen based training packages for the mining industry</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="p-h-15">Scenic Tours</h4>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-15">
                    <div class="">When: <span class="font-medium">2010 Jan - 2011 Apr</span></div>
                    <div class="">Role: <span class="font-medium">Software Developer</span></div>
                    <div class="">Type: <span class="font-medium">Contract - # Extensions: 2</span></div>
                    <div class="">Length Of Employment: <span class="font-medium">1 yr 3 mths</span></div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Technology Exposure</h5>
                    <p>This role required internal web application delivery and maintenance.</p>
                    <ul>
                        <li>C#.NET, .NET MVC</li>
                        <li>MS SQL Server 2008</li>
                        <li>Windows Server 2008 IIS</li>
                        <li>HTML/CSS</li>
                        <li><span ng-class="{'font-medium': highlight.js || highlight.front}">JavaScript/jQuery</span></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Projects</h5>
                    <p>I was writing C# code and SQL scripts day to day, signing off bugs and engaging with end users about issues/enhancements</p>
                    <ul>
                        <li>CRM system upgrade/completion (work with over 400,000 records)</li>
                        <li>Internal application support</li>
                        <li>Work with parts of the reservation system</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="p-h-15">Oakton</h4>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-15">
                    <h5 class="font-medium">Details</h5>
                    <div class="">When: <span class="font-medium">2009 Sep - 2009 Dec</span></div>
                    <div class="">Role: <span class="font-medium">Consultant / Software Engineer</span></div>
                    <div class="">Type: <span class="font-medium">Contract</span></div>
                    <div class="">Length Of Employment: <span class="font-medium">3 mths</span></div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Technology Exposure</h5>
                    <p>This was a consultant role which I only held briefly due to a lack of incoming projects</p>
                    <ul>
                        <li>Java/Oracle Forms</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Projects</h5>
                    <p>I was only able to get onsite with one client</p>
                    <ul>
                        <li>Configuring and loading spreadsheets through a transformation process to create oracle based java forms for APRA</li>
                        <li>Attended client meetings</li>
                        <li>Meet clients requirements</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="p-h-15">Unisys</h4>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-15">
                    <h5 class="font-medium">Details</h5>
                    <div class="">When: <span class="font-medium">2007  Jan - 2009 Jun</span></div>
                    <div class="">Role: <span class="font-medium">Consultant / Junior Developer</span></div>
                    <div class="">Type: <span class="font-medium">Contract - # Extensions: 5</span></div>
                    <div class="">Length Of Employment: <span class="font-medium">2 yrs 6 mths</span></div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Technology Exposure</h5>
                    <p>This was a Java based role in an enterprise environemnt.</p>
                    <ul>
                        <li>Java (J2EE, J2SE)</li>
                        <li>JSP/HTML/CSS</li>
                        <li>Tomcat</li>
                        <li>TCP/IP, Networks, MATIP, EMTOX, X.25, SNMP</li>
                        <li>Load Balancing, Disaster Recovery, Microsoft Server Cluster</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Projects</h5>
                    <p>I was hired as a consultant/developer to work on the OMSE(Open Message Switching Engine) team. OMSE was responsible for transforming communication
                    between legacy mainframe systems and modern IP based systems. Average throughput for OMSE was approx 3200 messages/sec.</p>
                    <ul>
                        <li>Track down, report and escalate bugs</li>
                        <li>Take control of advancing the online configuration switch feature to be inline with other softare improvements</li>
                        <li>Created a unique system for sending keepalive messages between OMSE and mainframe hosts using SNMP</li>
                        <li>Performance tests, benchmarking and tracing memory leak</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 class="p-h-15">Newcastle Infotech</h4>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-15">
                    <h5 class="font-medium">Details</h5>
                    <div class="">When: <span class="font-medium">2005 - 2007</span></div>
                    <div class="">Role: <span class="font-medium">Web Development</span></div>
                    <div class="">Type: <span class="font-medium">Part Time / Casual</span></div>
                    <div class="">Length Of Employment: <span class="font-medium">2 years</span></div>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Technology Exposure</h5>
                    <p>This was a part time role working on websites while I was at Uni.</p>
                    <ul>
                        <li><span ng-class="{'font-medium': highlight.front}">HTML/CSS/<span ng-class="{'font-medium': highlight.js}">JavaScript</span></span></li>
                        <li>C#, SQL Server</li>
                        <li>PHP, MySQL</li>
                        <li>Windows Server IIS</li>
                        <li>Cold Fusion</li>
                    </ul>
                </div>
            </div>
            
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-white-alpha p-10 border-radius-default m-b-5">
                    <h5 class="font-medium">Projects</h5>
                    <p>Worked on a few websites for Newcastle based businesses</p>
                    <ul>
                        <li>Fix bugs</li>
                        <li>Update content, add new content</li>
                        <li>Worked on a multi domain website with a central database</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-primary p-v-15">
    <div class="container">
        <h2 class="font-bold text-center">Things I Love</h2>
        <p class="fs-18">I love to work, coding is my thing. I also love the variety of people you get to meet whie doing it. My world does not stop with coding though.</p>
    </div>
</div>

<div class="p-v-30 bg-lightgray c-gray">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-b-15">
                <div class="bg-secondary border-radius-circle font-bold c-white m-0-auto" style="width:100px;height:100px;line-height:100px;text-align: center;">
                    <i class="fs-30 fa fa-male"></i><i class="fs-30 fa fa-female"></i><i class="fs-18 fa fa-child"></i><i class="fs-14 fa fa-child"></i>
                </div>
                <h4 class="text-center m-t-20">My Family</h4>
                <p>My family is amazing. I learn something from them each and every day. I have heard
                the line from employers that they are family friendly, and if you are then let's have a conversation.
                If not, or if you aren't quite sure your etos is put into practice, then we might not have the best fit.
                I don't want to be rude, just don't want to waste our mutual time.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-b-15">
                <div class="bg-secondary border-radius-circle fs-18 font-bold c-white m-0-auto" style="width:100px;height:100px;line-height:130px;text-align: center;">
                    <i class="fs-65 fa fa-fw fa-spotify"></i>
                </div>
                <h4 class="text-center m-t-20">Music</h4>
                <p>If there was something other than blood running through my veins to keep me alive, it would be music.
                Since I was a youngster, music has been there to celebrate, comiserate, laugh, cry, think, feel, get lost and come back again. It
                is a part of me. So, if you have a no music or no headphones policy, then we are not meant to be.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="bg-secondary border-radius-circle fs-18 font-bold c-white m-0-auto" style="width:100px;height:100px;line-height:110px;text-align: center;">
                    <i class="fs-40 fa fa-fw fa-cutlery"></i>
                </div>
                <h4 class="text-center m-t-20">Food</h4>
                <p>I realise we all need food to live, and sometimes anything will do, I just really love food! Do I want to get out a pair of tweezers and 
                    some micro herbs and plate up? No. More power to anywone who does though and I will probably finish that dish and lick the plate clean.
                    I do try to cook though and I love when people like something you made.</p>
            </div>
        </div>
    </div>
</div>

<div class="p-v-30 bg-gray c-white">
    <div class="container">
        <h2>Get in Touch</h2>
        <p>If you would to contact me about a role you may have then send me an email <a href="mailto:sandor@eleven11solutions.com.au" class="a-accent">sandor@eleven11solutions.com.au</a> please. I also appear to exists a number of other places around the web,
        you can find me there too.</p>
        <ul class="list-unstyled inline-children fs-24">
            <li class="m-15"><a href="https://twitter.com/humansoftware11" class="a-accent"><i class="fa fa-twitter"></i></a></li>
            <li class="m-15"><a href="https://github.com/sandor11" class="a-accent"><i class="fa fa-github-alt"></i></a></li>
            <li class="m-15"><a href="http://stackoverflow.com/users/1695809/sandor-a" class="a-accent"><i class="fa fa-stack-overflow"></i></a></li>
            <li class="m-15"><a href="https://au.linkedin.com/in/sandor-agafonoff-24996293" class="a-accent"><i class="fa fa-linkedin"></i></a></li>
            <li class="m-15"><a href="http://www.eleven11solutions.com.au" class="a-accent"><i class="fa fa-globe"></i></a></li>
        </ul>
    </div>
</div>